<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>EmployeeListController</servlet-name>
        <servlet-class>controller.employee.EmployeeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.accescontrol.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCreateController</servlet-name>
        <servlet-class>controller.employee.EmployeeCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <servlet-class>controller.employee.EmployeeUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <servlet-class>controller.employee.EmployeeDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.accescontrol.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanCreate</servlet-name>
        <servlet-class>controller.productionplan.ProductionPlanCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanListController</servlet-name>
        <servlet-class>controller.productionplan.ProductionPlanListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleCampaignCreateController</servlet-name>
        <servlet-class>controller.productionplan.ScheduleCampaignCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleCampaignListController</servlet-name>
        <servlet-class>controller.productionplan.ScheduleCampaignListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeListController</servlet-name>
        <url-pattern>/employees/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCreateController</servlet-name>
        <url-pattern>/employees/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <url-pattern>/employees/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <url-pattern>/employees/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanCreate</servlet-name>
        <url-pattern>/productionplan/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanListController</servlet-name>
        <url-pattern>/productionplan/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleCampaignCreateController</servlet-name>
        <url-pattern>/schedulecampaign/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleCampaignListController</servlet-name>
        <url-pattern>/schedulecampaign/list</url-pattern>
    </servlet-mapping>
</web-app>
