body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;      
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Added top margin */
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 90%; /* Make container responsive */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Allow columns to be more flexible */
}

.product-header {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.schedule-table th, .schedule-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevent wrapping */
}

.schedule-table th {
    background-color: #3498db;
    color: white;
}

.input-cell {
    width: 50px; /* Adjusted width */
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0;
    display: inline-block;
}

.create-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.create-button:hover {
    background-color: #2980b9;
}
