body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cccccc;
}

.login {
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login label {
    display: inline-block;
    width: 100px; /* Độ rộng cố định cho nhãn để căn đều */
    text-align: right; /* Căn phải văn bản nhãn */
}

.login input {
    margin-bottom: 10px; /* Khoảng cách giữa các trường */
    padding: 5px;
    width: 200px; /* Độ rộng của ô nhập liệu */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: deepskyblue
}

#submit{
    margin-left: 65px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: deepskyblue;
    border-width: 0px;
    color: white
   
}
