* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #1a73e8, #9fc7fb);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #1976d2;
    border-radius: 12px;
    padding: 40px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.icon img {
    width: 80px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 12px;
    background-color: #1e88e5;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

.input-group input::placeholder {
    color: #bbdefb;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 6px;
    color: #1976d2;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: #bbdefb;
    color: #1976d2;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #bbdefb;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    color: white;
}
